{% set Title = "3proxy SSL/TLS plugin" %}
{% include "../../include/intro.html" %}

<p>SSL/TLS support is now built into the main 3proxy binary since version 0.9.7 and is no longer distributed as a separate plugin. See <a href="/doc/man5/3proxy.cfg.5.html">3proxy.cfg(5)</a> for configuration options.

{% include "../../include/postpage.html" %}